<div id="recommended">
    <h1>Categories</h1>
    <div class="sidebar">
        <h2>Under Development <hr style="
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #333;
        padding: 0; "> ¯\_(ツ)_/¯</h2>
        <!--<a href="/users/sign_up" id="signupbutton">Sign Up!</a>-->
    </div>
</div>