<div id="disclaimer">
<h1>Do not trust anything from the internet.</h1>
For all we know an ecstatic guinea pig is running around a laptop's keyboard and 
trackpad in the right areas to form words and sentences. We do not take 
responcibility for how you interpret, revieve, or take action with these notes.
<h3>Bottom line: Use common sense.</h3>
Also, try be kind about what you say on notes, and report any misbehavior and glitches. 
<br>Thanks for signing up!
<hr>
</div>