<section class="usersindexsection">
    <% @users.each do |user| %>
        <div class="user">
            <img src="<%= user.profilepic %>">
            <p><%= user.username %></p>
            <a href="/users/<%= user.id %>">Click here for profile!</a>
        </div>
    <% end %>
</section>