<div id="wait">
    <div id="waitbox">
        <h1>Time is of the essence.</h1>
        <hr>
        <%= image_tag 'logosvg.svg' %>
    </div>
    <div id="h2box">
        <h2>Mateo C. 2016</h2>
    </div>
</div>