// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
}

body {
    background: #ededed;
}

.trybutton {
    border: solid 3px #7fbce8;
    color: #2b90d9;
    padding: 10px 34px;
    border-radius: 10px;
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s;
    cursor: pointer;
}

.trybutton:hover {
    border: #2b90d9 3px solid;
    background: #2b90d9;
    color: white;
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s;
}

#navbar {
    z-index: 5;
    position: fixed;
    background: #ededed;
    width: 100%;
    height: 100px;
    @media (max-width: 1080px) { /* Mobile */
    }
    #logo {
        float: left;
        img {
            width: 50px;
            margin: 24px 10px 0px 10px;
            vertical-align: top;
        }
        #name {
            display: inline-block;
            height: 100%;
            padding-top: 16px;
            .notequick {
                font-size: 28px;
            }
            .bymateo {
                font-size: 16px;
            }
        }
    }
    .toggle {
        float: right;
        font-size: 40px;
        text-decoration: none;
        padding: 28px 20px 0px 0px;
        @media (min-width: 1081px) { /* Desktop */
            display: none;
            visibility: hidden;
        }
    }
    .links {
        float: right;
        cursor: default;
        padding-top: 38px;
        @media (max-width: 1080px) { /* Mobile */
            .trybutton {
                border: 0;
                padding: 0;
                margin: 0;
                text-decoration: underline;
            }
            background: #ccc;
            padding-top: 0;
            margin-top: 14px;
            display: none;
        }
        a {
            display: inline;
            cursor: pointer;
            font-size: 18px;
            @media (max-width: 1080px) { /* Mobile */
                display: block;
                text-align: center;
                width: calc(100vw);
                margin: 0 auto;
            }           
            @media (min-width: 1081px) { /* Desktop */
                margin: 0 10px;
            }
        }
    }
}

#introcontainer {
    position: relative;
    height: 100vh;
    width: 100%;
}

.intro {
    background: image-url("notedeskultra.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ededed;
    height: 100vh;
    width: 100%;
    z-index: 10;  
    position: absolute;
    @media (max-width: 1080px) { /* Mobile */
        padding: 10px;
    }
    .homeintro {
        background: rgba(43, 144, 217, .9);
        border-radius: 18px;
        padding: 40px 20px 10px 20px;
        @media (max-width: 1080px) { /* Mobile */
            padding: 10px 0;
            border-radius: 8px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 90vw;
        .desc {
            font-size: 36px;
            text-align: center;
            p {
                font-weight: 300;
                font-size: 26px;
                margin: -10px 0 30px 0;
            }
            h1 {
                line-height: 60px;
            }
            h1:nth-child(2) {
                margin-top: -16px;
            }
            @media (max-width: 1080px) { /* Mobile */
                h1 {
                    font-size: 110%;
                    line-height: 60px;
                }
                h1:first-child {
                    line-height: 48px;
                    margin-bottom: 12px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
    .options {
        width: 300px;
        height: 50px;
        margin: 0 auto;
        cursor: pointer;
        font-size: 20px;
            text-align: center;
        // a:last-child {
        //     float: right;
        // }
        .trybutton {
            color: white;
            background: #7fbce8;
        }
    }
}
.count {
    background: #9baec8;
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
    font-weight: 500;
    span {
        text-decoration: underline;
        font-size: 55px;
    }
}
@media (max-width: 767px) {
    .count, .count span {
        font-size: 36px;
    }
}
.shots {
    margin-top: 90px;
    padding: 20px;
        img {
            height: 75vh;
            float: left;
        }
        .shot {
            margin: 11px;
            background: #dbdbdb;
            border-radius: 7px;
            width: calc( 50% - 22px);
            float: left;
            padding: 7px;
            word-wrap: break-word;
        }
        a {
            display: inline-block;
            margin: 10px auto;
        }
        @media (max-width: 767px) { //Mobile
        }
}
.features {
    background: #95c7ec;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    h1, h2 {
        font-weight: 400;
    }
    h1 {
        margin-bottom: -10px;
        font-size: 40px;
    }
    h2 {
        margin-bottom: -20px;
    }
    .container {
        margin: 30px 150px 0 150px;
        @media (max-width: 1080px) { /* Mobile */
            margin: 20px;
        }
        .box {
            h3 {
                font-size: 22px;
                margin-bottom: -10px;
                img {
                    width: 30px;
                    margin-left: 20px;
                }
            }
            width: 33.33%;
            height: 250px;
            padding: 20px 40px;
            display: inline-block;
            float: left;
            @media (max-width: 1080px) { /* Mobile */
                width: 100%;
                padding: 10px;
                height: auto;
            }
            p {
                font-size: 19px;
                font-weight: 300;
            }
        }
        .trybutton { 
            width: 200px;
            margin: 40px auto 0 auto;
            font-size: 20px;
            border: #2b90d9 3px solid;
        }
    }
}

footer {
    height: 150px;
    width: 100%;
    background: #282c37;
    padding: 30px;
    position: relative;
    a {
        display: inline-block;
        margin: 40px 10px;
        @media (max-width: 767px) {
            margin: 0;
            display: block;
        }
    }
    a:first-child {
        color: #bbb;
        text-decoration: none;
    }
    img {
        width: 75px;
        float: right;
        @media (max-width: 767px) {
            width: 60px;
            position: absolute;
            right: 10px;
            top: 40px;
        }
    }
}
.signupbox {
    background: #5BE55B;
    width: 100%;
    height: 250px;
    padding: 75px;
    font-weight: 400;
    font-size: 75px;
    text-align: center;
    a {
        display: inline-block;
        color: #333;
        border: 6px solid #48B748;
    }
    a:hover {
        border: 6px solid #48B748;
        background: #48B748;
    }
}
.clearer {
    clear: both;
}
